* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-icon {
  display: flex;
  height: 5px;
  border: 1px solid #f5f5f6;
  align-items: center;
  color: #696e79;
  background: #f5f5f6;
}

.header {
  width: 100%;
  display: flex;
  color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  align-items: center;
  height: 84px;
  position: fixed;
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 50px;
}

.navbar-items {
  color: black;
  text-decoration: black;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 0.3px;
  padding: 17px;
}

.logo {
  text-align: center;
  display: flex;
  width: 53px;
  height: 36px;
  align-items: center;
}

.tax-banner {
  width: 100%;
  margin-top: 84px;
  height: 32px;
  text-align: center;
  color: #fff;
  padding: 7px 0;
  font-size: 14px;
  box-sizing: border-box;
  font-weight: 500;
  font-family: sans-serif;
  position: fixed;
}

.row-base {
  height: 32px;
  display: flex;
  font-family: sans-serif;
  box-sizing: content-box;
  font-size: 14px;
  align-items: center;
  align-content: stretch;
  padding: 2px;
  margin-left: 2%;
}

.text-container {
  font-family: sans-serif;
  box-sizing: content-box;
  font-size: 16px;
  align-items: center;
  padding: 1px;
  margin-left: 2%;
}

.title-count {
  color: #878b94;
  font-weight: 100;
  /* white-space: pre-wrap; */
}

#main {
  display: flex;
  padding-top: 23px;
  position: static !important;
}
hr {
  border: 1px solid #eaeaec;
}

aside {
  min-width: 252px;
  max-width: 252px;
  box-sizing: content-box;
  display: block;
  float: none;
  line-height: normal;
  position: static;
  z-index: auto;
}

.filter-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 25px;
}

article {
  width: 100%;
  display: block;
}

.filter-categories {
  /* height: 50px; */
  padding: 20px;
  margin-left: 5px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  color: #282c3f;
  display: flex;
}

.categories-content {
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 25px !important;
  font-weight: 100 !important;
  padding: 2px;
  color: #282c3f;
}

.categories-num {
  color: #94969f;
  font-size: 11px;
  margin-left: 4px;
}

.color-display {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}

.product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 10px;
  /* position: static; */
}

.sort {
  padding: 9px 14px;
  font-size: 14px;
  color: #282c3f;
  cursor: pointer;
  position: static;
  width: 255px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d4d5d9;
}

article img {
  width: 210px;
  height: 280px;
}

h3.product-brand {
  padding: 10px;
  padding-bottom: 0px;
}

.product-brand {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #282c3f;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-product {
  padding: 0 10px;
  font-family: sans-serif;
  color: #535766;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  display: block;
}

.product-price {
  line-height: 15px;
  margin: 10px 0 6px;
  margin-left: 10px;
  white-space: nowrap;
}

.product-discounted-price {
  font-size: 14px;
  color: #282c3f;
  font-weight: 500;
}

.product-strike {
  text-decoration: line-through;
  color: #7e818c;
  font-weight: 400;
  margin-left: 5px;
  font-size: 12px;
}

.product-discount-percentage {
  color: #ff905a;
  font-weight: 400;
  font-size: 12px;
  margin-left: 5px;
}
